

body {
    background-color: black;
    color: lightskyblue;
    width: 900px;
    margin: auto;
}

main {
    text-align: center;
    margin: 10rem;
}

h1 {
    font-size: 2.5rem;
}

img {
    Background-color: darkblue;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid blue;
}

footer {
    text-align: center;
}