* {  
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 100px auto;  
    max-width: 400px;
    background-color: black;
}

h1 {
    background-color: darkslategray;
    color: rgb(192, 255, 66);
    padding: 40px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 28px;
}

table {
    border-collapse: collapse;
}

th[scope='col']{
    border: 2px solid darkslategray;
    border-bottom: 2px solid yellowgreen;
    padding: 20px;
    color: whitesmoke;
    font-size: large;
}

thead tr td {
    border-top-color: darkslategray;
    border-right-color: darkslategray;
    border-bottom-color: yellowgreen;
    border-left-color: darkslategray;   
    background-color: rgb(36, 60, 60);
}

tbody tr:nth-child(2) {
    background-color: darkolivegreen;
}

th[scope='row'] {
    border: 2px solid yellowgreen ;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    color: whitesmoke;
}

td{
    border: 2px solid yellowgreen;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

caption {
    padding: 10px;
    caption-side: bottom;
    font-size: 1rem;
    color: lightgray;
}









