@media only screen and (min-width: 65em) {
    
    main{
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    main section:nth-child(3){
        grid-column: span 1;
    }

    h1 {
        font-size: 3.5rem;
     }

    header h2 {
        font-size: 2.5rem;
    }
  }