

  @media only screen and (min-width: 32.5em) {
    
    main{
      grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(3) {
      grid-column: span 2;
    }

    main section img:nth-child(3) {
      grid-column: span 2;
    }

    /* h1 {
      font-size: 2.5rem;
   } */

    h2 {
      font-size: 1.5rem;
  }

    header h2 {
      font-size: 2rem;
  }

  }