:root {
    --myfont:'Sofia Sans', 'Roboto', sans-serif;
}

h1, h2, h3, body, footer{
   font-family: var(--myfont); 
}

body {
    font-family: var(--myfont);
    background-color: whitesmoke;
}

main {
   display: grid;
   grid-template-columns: 1fr;
}

header {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:rgb(31, 31, 31);
    color: whitesmoke;
    padding-top: 1px; 
    padding-bottom: 2px;
    max-height: 100em;
 }

header h2 {
   background-color:rgb(31, 31, 31);
   margin-top: -200;
} 

h2 {
   background-color:#393939;
   color: whitesmoke;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding: 1rem;
   margin-top: -1px;
   margin-right: -1px;
   margin-left: -1px
}

h3 {
   padding-left: 1rem;
}

section {

   margin: 15px 10px 15px 10px;
   background-color:rgb(219, 219, 219);
   border-radius: 10px;
   border-style:solid;
   border-color: #393939;
   border-width: 2px;
  
}
section h3 {
   margin-top: -5px;
   margin-bottom: -5px;
}

section img {
   display: block;
   line-height: 0%;

   width: 95%;
   margin-left: auto;
   margin-right: auto; 
   border-radius: 10px;
   border-style:solid;
   border-color: #393939;
   border-width:2px;
}

.link_divs {
   padding: 1rem;
   margin-bottom: 5px;
}

p {
   padding-right: 1rem;
   padding-left: 1rem;
}

footer {
    text-align: center;
    background-color:rgb(31, 31, 31);
    color:whitesmoke;
    padding: 3px;
 }
 a:hover {
   background-color:#909090;
   color: whitesmoke;
   border: 1px solid transparent;
 }
