@media only screen and (min-width: 65em){

  nav ul {
    margin-top: -22px;
 }
  
  header h1 {
      padding: 40px;
      font-size: 32px;
      text-shadow: 2px 3px 0px black;
  }

  main {
    margin-left: 150px;
    margin-right: 150px;
  }
}