@media only screen and (min-width: 65em){

    .forcastContainer{
        width: 300px;
    }
    #weatherSection{
        width: 300px
    }

    #drinksMadeSection p { 
       font-size: 20px;
     }

     .shape1 div {

        /* top: 50%;
        left: 50%; */
        margin-top: 500px;
        margin-left: 500px;
       
      }



     

     /* @keyframes move {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(60vw, 50vh);
        }
        100% {
          transform: translate(0, 0);
        }
      } */



    
    #welcome {
        max-width: 975px; 
    }

   .placeMarginContainer {
        border-radius: 15px;
        background-color: rgba(100, 13, 13, 0.8); 
        border: 4px solid rgba(233, 169, 35, 0.5);
        max-width: 1035px;
        margin: 0 auto;
    }

    .placeH2 {
        border: none;
        border-radius: 0px;
        background-color: transparent;
        padding-bottom: 25px;
        margin-top: 30px;
        font-size: 30px;
        border-bottom: 3px solid rgba(100, 13, 13, 0.8);
    }

   .placeCards {
        display: grid;
        padding: 10px 20px; 
        max-width: none;
        margin-top: 0px;
    }

    .place-section{
        border: none;
        background-color: transparent;
    }

    /* Fresh page******************************************************* */
    .formContainer{
        max-width: 800px;
    }

    #drinkForm{
        padding-left: 80px;
        padding-right: 80px;
    }

    #orderFieldset{
        margin: 0px 12px;
    }

    #orderLogoContainer{
        display: block;
    }

    .babyPic {
        max-width: 600px;
    }

    form label, form input, form textarea{
        width: 535px;
     }
    
     form select {
        width: 555px;
     }

     form button {
        width: 555px;
     }

    .drinkNutriDivImgContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 30px;
        right: 15px;
     }
    
     .nutriLogo {
        width: 190px;
     }

     #sourcesMain section{
        padding: 30px;
      }

}