
@media only screen and (min-width: 37.5em) {
    
    /*Header ************************************************************ */
    header {
        display: flex;
        padding: 5px;
        margin: 0px;
    }

    .imgH1Box .logo {
        width: 50px;
        margin-right: 0px;
    }

    header .imgH1Box {
       margin: 0;
    }
    
    header .imgH1Box h1 {
        font-size: 1.2rem;
        margin: 15px 0px 0px 0px;      
    }

    header .navSection {
        padding-right: 50px;
        padding-bottom: 10px;
        margin: 0px 0px 0px auto;
        font-size: 2rem;
    }

    nav ul li {
        padding: 0 5px 0px 5px;
    }

    .welcomeContainer{
        margin: 40px;
    }

    .drinkLink {
        font-size: 30px;
    }

    .placeH2Container{
        margin: 0 40px;
    }

    .placeH2 {
        margin: 70px auto 0px auto;
        max-width: 650px;
    }

    .placeCards {
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        padding: 10px 30px; 
    }

    .place-section {
        margin: 10px;
    }

    .socialBox {
        width: 10rem;
        padding: 5px 5px 0px 5px;
        border-top: 2px solid rgba(233, 169, 35, 0.5);
        border-left: 2px solid rgba(233, 169, 35, 0.5);
        border-right: 2px solid rgba(233, 169, 35, 0.5);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
 
    .socialIcons {
        width: 27px;
        padding: 0px 2.5px 0px 2.5px; 
    }




    .totalWeatherContainer{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .margin {
        margin: auto;
        grid-column:2/3;
        grid-row: 1/2;
    }
    
    #weatherSection{
        width: 250px;
        height: 350px; 
    }

    #forcastSection{
        margin: auto;
        grid-column:3/4;
        grid-row: 1/2;
        padding: 10px;
    }

    .forcastContainer{
        width: 250px;
        height: 350px;
    }
    

    /* Footer ***************************************************************** */

    .footerBox {
        display: grid;
        grid-template-columns: (1fr 1fr);
        grid-auto-rows: auto;
        width: 500px;
        margin: 50px auto 70px auto;  
        text-align: left;
    }

    .address {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: auto;
        border-top: solid 2px rgba(233, 169, 35, 0.5);
        border-left: solid 2px rgba(233, 169, 35, 0.5);
        padding-bottom: 20px;
    }
    
    .miscInfo {
        border-top: solid 2px rgba(233, 169, 35, 0.5);
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
        padding-right: 25px;  
    }

}
