:root {
    --mont: 'Montserrat', sans-serif;
    --play: 'Playfair Display', serif;

--cream: #E3EBC3ff;
--aureolin: #FDF22Eff;
--harvest-gold: #E9A923ff;
--off-red-rgb: #F50000ff;
--licorice: #22191Cff;
--peel: rgb(255 164 39);
}

/*HEADER************************************************************** */

img {
    box-sizing: border-box;
}

header {
    font-family: var(--play);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid rgba(233, 169, 35, 0.5);
    padding: 5px 0px;
    display: block;
    align-items: center;
    z-index: 9999; 
}

header .imgH1Box {
    display: flex;
    align-items: center; 
    margin: auto;
    max-width: 250px;
    /* border-bottom: 2px solid rgba(233, 169, 35, 0.5); */
    padding-bottom: 10px;
}

.imgH1Box .logo {
    width: 90px;
    margin-right: -5px; 
    
}

header .imgH1Box h1 {
    font-size: 1.2rem;
    margin: 25px 10px 0px 0px;
    color: var(--aureolin);  
}

header .navSection {
    border-top: 2px solid rgba(233, 169, 35, 0.5);
    padding-top: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline-block;
    padding: 0px 5px 10px 5px;
}
  
nav ul li:hover {
    transform: scale( 1.15);
    transition: ease .1s; 
}

nav ul li a {
    color: var(--aureolin);
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:active{
    color: var(--off-red-rgb);
}

/*Banner ******************************************** */
.bannerBox {
    height: 15rem;
    position: relative; 
}

.banner {
    Width: 100%;
    height: 100%;
    object-fit:cover;
}

#drinksMadeSection p { 
    font-family: var(--mont);
    position: absolute;
    color:var(--aureolin);
    margin: 185px auto 10px auto;
    text-align: center;
    background-color: rgba(80, 0, 0, 0.8); 
    border-top: 4px solid rgba(233, 169, 35, 0.5);
    border-bottom: 4px solid rgba(233, 169, 35, 0.5);
    padding: 15px 0;
    width: 100%;

 }

/* Home Main ************************************************************** */

 .test {
    display:hidden;
  }
  
  .shape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .shape div {
    position: absolute;
    width: 50vw;
    height: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

body {
    font-family: var(--play);
    background-color: rgb(255, 250, 185);
}

main{
    font-family: var(--mont);
    color: var(--black);
}

h2, h3, h4 {
    color: var(--aureolin);
    font-family: var(--play);
}
.welcomeContainer{
    margin: 10px;
}

#welcome {
    max-width: 650px;
    margin: 30px auto;
    padding: 15px 15px 30px 15px;
    border-radius: 15px;
    background-color: rgba(100, 13, 13, 0.8); 
    border: 4px solid rgba(233, 169, 35, 0.5);
    color: var(--cream);
}

.actionPic {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border-radius: 20px;
    border: 4px solid rgba(233, 169, 35, 0.5);
}


.drinkLink:hover {
    background-color: rgba(233, 169, 35, 0.5);
    color: var(--aureolin);
 }

.drinkLink {
    padding: 10px;
    border-radius: 5px;
    border: 5px solid rgba(233, 169, 35, 0.5);
    background-color: var(--aureolin);
    color: rgb(103, 1, 1);
    font-weight: bold; 
    text-decoration: none;
}

.drinkLinkContainer {
    text-align: center;
    margin: 50px 0px 30px 0px;
}

.drinkLinkContainer:hover { 
    transform: scale(1.1);
    transition: ease .3s; 
}

.placeH2 {
    text-align: center;
    border-radius: 15px;
    background-color: rgba(100, 13, 13, 0.8); 
    border: 4px solid rgba(233, 169, 35, 0.5);
    padding: 15px;
    margin: 70PX 10px 0PX 10PX ;
}

.placeCards {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    max-width: 720px;
}

.place-section{
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(100, 13, 13, 0.8); 
    border: 4px solid rgba(233, 169, 35, 0.5);
    color: var(--cream);
    margin-top: 10px;
}

.placePic {
    width: 100%;
    border-radius: 15px;
    border: 4px solid rgba(233, 169, 35, 0.5);
}

 #weatherSection {
    text-align: center;
    color: var(--cream);
    height: auto;
    margin:auto;
    padding: 10px;
    background-color: rgba(100, 13, 13, 0.8);
    border-radius: 15px;
    border: 4px solid rgba(233, 169, 35, 0.5);
    max-width: 550px;
 }

 .margin {
    margin: 50px 10px 10px 10px;
 }

 #forcastSection {
    text-align: center;
    height: auto;
    margin: 10px 0px;
    padding: 10px 10px 50px 10px;
 }

#forcastCards {
    display: flex;
    justify-content: center;
}

.forcastContainer {
    text-align: center;
    color: var(--cream);
    height: auto;
    padding: 10px;
    background-color: rgba(100, 13, 13, 0.8);
    border-radius: 15px;
    border: 4px solid rgba(233, 169, 35, 0.5);
    max-width: 550px;
    margin: auto;
}

.forcastContainer h3, .weather h3{
    border-bottom: 2px solid rgba(100, 13, 13, 0.8);
    padding-bottom: 15px;
}


.forcastDiv {
    padding: 5px 10px; 
}

.left { 
    text-align: left;
 }

.hidden {
    display: none;
}

/*Socialmedia Icon Section ******************************************************* */

.socialBox {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color:rgb(100, 13, 13);
    border-top: 4px solid rgba(233, 169, 35, 0.5);
    margin: 0 auto;
}

.socialIcons {
    width: 35px;
    padding: 10px 2.5px 10px 2.5px; 
}

.socialIcons:hover{
    transform: scale(1.2);
    transition: ease .3s; 
  }

/*Footer ******************************************************************* */
footer{
    font-family: var(--mont);
    background-color: var(--licorice);
    color: var(--cream);
    height: auto;
    display: block;
    border-top: 4px solid rgba(233, 169, 35, 0.5);
    margin: auto;
    padding-bottom: 3px;
}

.push {
    margin-left: auto;
}

.footerBox{
    width: 255px;
    margin: 50px auto;
    text-align: center;
    padding-right: 20px;
}

.imgFooterBox .logo {
    width: 100px;
    margin-top: 30px;
}

footer .footerTextBox {
    display: block;
    margin: auto 0;
}

footer .footerTextBox p{
    padding: 0;
    margin: 0;
}
 
.imgFooterBox {
    margin-top: 20px;
    text-align: center;
}

.address {
    padding-bottom: 20px;
}

.miscInfo {
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: solid 2px rgba(104, 104, 104, 0.7);
}

.mapP {
    margin-top: 20px;
}

.mapIcon {
    margin-top: 10px;
    width: 15px;
}

.mapIcon:hover {
    transform: scale(1.2);
    transition: ease .3s; 
}

.link:hover {
    color: var(--aureolin);
}

.link {
    color: var(--harvest-gold);
    text-decoration: none;
}

/* Fresh page******************************************************* */

.formContainer{
    display:block;
    max-width: 400px;
    margin: 50px auto;
}

 form label, form input, form textarea{
    display: block;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    z-index: 5;

 }

 form input{
    margin-top: 5px;
 }

 form select {
    padding: 10px;
    width: 273px;
    border-radius: 5px;
    z-index: 5;
 }

 #fruitOne{
    margin-top: 10px; 
 }

 form textarea {
    margin-left: 10px;
    border-radius: 5px;
    height: 70px;
 }

 form legend {
    color: var(--aureolin);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
 }

 form fieldset {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid rgba(233, 169, 35, 0.5);
 }

 form button {
    margin: 25px 0px 15px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid rgba(233, 169, 35, 0.5);
    background-color: var(--aureolin);
    color: rgb(103, 1, 1);
    width: 270px;
    font-weight: bold;
 }

 form button:hover {
    background-color: rgba(233, 169, 35, 0.5);
    color: var(--aureolin);
 }

#babyPicContainer {
    max-width: 250px;
}

.babyPic {
    width: 100%;
    height: 100%;
    border: 4px solid rgba(233, 169, 35, 0.5);
    border-radius: 15px;
    MARGIN-bottom: 30PX;
}

 #thankYou {
    font-weight: bold;
    font-size: 20px;
    color: var(--aureolin);
    padding-top: 0;
    margin-top: 0;
 }



#drinkForm {
    background-color:rgba(100, 13, 13, 0.8);
    color: var(--cream);
    border: 4px solid rgba(233, 169, 35, 0.5);
    border-radius: 15px;
    padding: 10px;
}

#drinkFormLegend, #hiddenReceipt {
     border: 0;
 }

 #formNutritionInfo {
   padding-left: 15px;
   position: relative;
 }

 .drinkNutriDivImgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 115px;
    right: 15px;
 }

 .nutriLogo {
    width: 100px;
    float: right;
 }

.star {
    color: var(--aureolin);
    padding: 0px 5px;
    font-weight: bold;
}

 /* About Us Page ************************************************* */

 #historySection {
    background-color: rgba(100, 13, 13, 0.8);
    color: var(--cream);
    border: 4px solid rgba(233, 169, 35, 0.5);
    border-radius: 15px;
    padding: 20px 20px 20px 15px;
    max-width: 900px;
    margin: 50px auto;
 }

 .historyTextDiv {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
 }

 .jamImageContainer{
    max-width: 800px;
    margin: 20px auto;
 }

 .jamPic{
    height: 100%;
    width: 100%;
    border: 4px solid rgba(233, 169, 35, 0.5);
    border-radius: 5px;
 }

 #visitUsSection {
    display: block;
    background-color: rgba(100, 13, 13, 0.8);
    color: var(--cream);
    border: 4px solid rgba(233, 169, 35, 0.5);
    border-radius: 15px;
    padding: 10px;
    max-width: 910px;
    margin: 50px auto;
 }

 #visitUsSection h3, #visitAdress {
    max-width: 350px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(233, 169, 35, 0.5);
 }



 #visitUsSection div{
    margin: 10px;
    padding-right: 5px;
    padding-top: 10px;
 }

 .iframeContainer{
    margin: 0px 5px;
 }

 iframe{
    width: 100%;
    border-radius: 5px;
    max-height: 270px;
    margin: 20px auto;
 }