:root {
    --lato:'Lato', sans-serif;
    --robo:'Roboto', sans-serif;
    --robo-slab:'Roboto Slab', sans-serif;
    
--cream: #E3EBC3ff;
--aureolin: #FDF22Eff;
--harvest-gold: #E9A923ff;
--off-red-rgb: #F50000ff;
--licorice: #22191Cff;
--charcoal: #33566Aff;
--slate-gray: #6D848Aff;
--cadet-gray: #8DAFB9ff;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 4px solid rgba(233, 169, 35, 0.5);
    padding: 5px;
    display: block;
    align-items: center;
    z-index: 9999; /* set a high z-index value so the parallax section will display below it */
}

header .imgH1Box {
    display: flex;
    align-items: center;
}

.imgH1Box .logo {
    width: 90px;
    margin-right: -22px;
}

header .imgH1Box h1 {
    font-size: 1.2rem;
    margin: 25px 10px 0px 0px;
    color: var(--aureolin);
    
}

header .navSection {
    padding-top: 15px;
    text-align: center;
}

.navSection {
    width: 100;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline-block;
    padding: 0 5px 0 5px;
}
  
nav ul li a {
    color: var(--aureolin);
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover{
    color: var(--harvest-gold); 
}

  /* nav ul li a:hover{
    transform: scale(1.2);
    transition: ease .3s; 
  } */

nav ul li a:active{
    color: var(--off-red-rgb);
}





/* ******************************************** */
.bannerBox {
    height: 15rem;
    overflow: hidden; 
}

.banner {
    Width: 100%;
    height: 100%;
    object-fit:cover;
}

/* ******************************************************* */
.socialWrapper {
    background-color: var(--licorice); 
}

.socialBox {
    width: 100%;
    text-align: center;
    padding: 10px 10px 5px 10px;
    background-color:rgba(56, 56, 56, 0.7);
    border-top: 4px solid rgba(233, 169, 35, 0.5);
    margin: 0 auto;
}

.socialIcons {
    width: 35px;
    padding: 0px 2.5px 0px 2.5px; 
}

.socialIcons:hover{
    transform: scale(1.2);
    transition: ease .3s; 
  }

footer{
    background-color: var(--licorice);
    color: var(--cream);
    height: auto;
    display: block;
    border-top: 4px solid rgba(233, 169, 35, 0.5);
    margin: auto;
    /* align-items: center; */
}

.push {
    margin-left: auto;
}

.imgFooterBox .logo {
    width: 100px;
    margin-top: 30px;
    /* margin: 35px 2rem 35px 0; */
}

/* .imgFooterBox {
    width: 100px;
    
} */

footer .footerTextBox {
    display: block;
    margin: auto 0;
    padding-left: 1.5rem;
}

footer .footerTextBox p{
    padding: 0;
    margin: 0;
}
 
.imgFooterBox {
    margin-top: 20px;
    text-align: center;
}

.address {
    padding-bottom: 20px;
}

.miscInfo {
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: solid 2px rgba(56, 56, 56, 0.7);
}



body {
    background-color: var(--licorice);
    overflow-x: hidden;
}

main{
    background-color: var(--licorice);
    color: var(--cream);
}

#actionSection { 
   text-align: center;
}

.left { 
    text-align: left;
 }

/* .paraImage{
    height: 100%;
    width: 100%;
    object-fit:cover;
} */

.parallax-container {
    background-color: var(--licorice);
    margin: 30px 0px;
    
    /* Set the height of the container to the height of the viewport */
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: hidden; 
    z-index: 1; /* set a lower z-index value */
}

.parallax-container h2{
    text-align: center;
}
  
.parallax-section {
    background-color: rgba(56, 56, 56, 0.7);
    /* height: 25vh;  */
    /* Set the height of each section to half the height of the viewport */
    /* position: relative;  */
    margin: 10px 0px;
    padding: 10px;
}

.parallax-section h3 {
    text-align: center;
    margin: 0;
}
  
.parallax-section:before {
    position: absolute; /* Set the position to absolute */
    z-index: -1; /* Set the z-index to -1 so the pseudo-element stays behind the content */
}
  
.parallax-section h3,
.parallax-section p {
    /* position: absolute; Set the position of the content to absolute */
    text-align: left;
    /* top: 50%; Set the top position to 20% */
    /* left: 50%; Set the left position to 20% */
    /* transform: translate(-50%, -50%); Center the content horizontally and vertically */
}


.mapP {
    margin-top: 20px;
}

.mapIcon {
    margin-top: 10px;
    width: 15px;
}

.mapIcon:hover {
    transform: scale(1.2);
    transition: ease .3s; 
}