@media only screen and (min-width: 65em){
 
  nav ul li a { 
    padding: .5rem 1rem
  }

  header h1 {
    font-size: 36px;
    text-shadow: 2px 3px 0px black;
  }

  header button{
    display: none;
  }

  header {
    border-bottom: 4px solid var(--green);
  }

  nav ul#primaryNav {
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid rgba(0,0,0,0.3);
    text-align: center;  
  }

  nav {
    border-bottom: 4px solid var(--green);
  }
nav ul li a {
  border: none;
  /* border-right: 1px solid rgba(0,0,0,0.3); */
  border-right: 1px solid var(--green);
  /* border-top: 5px solid var(--green); */
}

nav ul li a:nth-child(1) {
  border-left: 1px solid var(--green);
}

nav ul li:nth-child(5){
  border-bottom: none;
}

nav ul li {
  flex: 1 1;
}

}