
@media only screen and (min-width: 37.5em) {
    

  /* HEADER ********** */

  header img{
    max-width: 130px;
    max-height: 130px;
  }

  header h1{
  margin-top: 20px;
  font-size: 36px;
  }

  header h2{
  font-size: 16px;
  }

  header div p{
    font-size: 16px;
  }

  header div a{
    max-width: 32px;
    max-height: 32px;
  }

  .social-wrapper{
    display:flex;
    align-self:flex-start;
  }

  header div a:nth-child(1){
    padding: 5px 2.5px 60px 5px;
  }

  header div a:nth-child(2){
    padding: 5px 2.5px 60px 2.5px;
  }

  header div a:nth-child(3){
    padding: 5px 2.5px 60px 2.5px;
  }
  header div a:nth-child(4){
    padding: 5px 8px 60px 2.5px;
  }
  


  /* MAIN ********** */
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
 }
  
 #call-to-action {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
 }
 
 #event1 {
    margin-right:2.5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
 }
 
 #weather {
    margin-left:2.5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
 }
 
 #news {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
 }
 
 #spotlight-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
 }
 
 #spotlight1 {
    margin: 0px 2.5px 0px 2.5px;
 }
 
 #spotlight2 {
    margin: 0px 0px 0px 2.5px;
 }

 #join {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
 }


 /* FOOTER ********** */

 footer a img{
    max-width: 249px;
    max-height: 249px;
}

footer h3{
    padding-top: 26px;
}

#footer-wrapper {
    display: flex;
    justify-content: center;
}

#contact-info {
    display:block;
    text-align: left;
    margin-left: -20px;
}

}
