
@media only screen and (min-width: 37.5em) {
    
  /* AD ********* */
  #ad h2{
    font-size: 20px;
  }

  /* HEADER ********** */
  
  header img {
    max-width: 130px;
    max-height: 130px;
  }

  header h1 {
  margin-top: 20px;
  font-size: 36px;
  }

  header h2 {
  font-size: 16px;
  }

  header div p {
    font-size: 16px;
  }

  .social-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: right;
  }

  .social-box {
    display: flex;
    margin-top: 5px;
  }

  .social-box{
    height: 40px;
 }

  header div a:nth-child(1) {
    padding: -0px 2.5px 5px 5px;
  }

  header div a:nth-child(2) {
    padding: 0px 2.5px 5px 2.5px;
  }

  header div a:nth-child(3) {
    padding: 0px 2.5px 5px 2.5px;
  }

  header div a:nth-child(4) {
    padding: 0px 8px 5px 2.5px;
  }

  /* NAV ********** */
  nav ul li {
    padding: 7px 0px 0px 0px;
  }

  /* MAIN ********** */
  #indexMain {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
 #call-to-action {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
 }

 #heroH3Div {
  font-size: 20px;
}

#heroJoinDiv {
  font-size: 25px;
}

 #event1 {
    margin-right:2.5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
 }
 
 #weather {
    margin-left:2.5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
 }
 
 #news {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
 }
 
 #newsPar {
  display: block;
}

 #spotlight-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
 }
 
 #spotlight1 {
    margin: 0px 2.5px 0px 2.5px;
 }

 #wilderSecOne {
  padding-right: 30px;
}

 #spotlight2 {
    margin: 0px 0px 0px 2.5px;
 }

 #join {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
 }

 /* Discovery Page: Main ********** */
 .discoMain section {
  max-width: 900px;
}

.discoMain h1 {
  font-size: 36px;
}

.dicsoImagesDiv section h2{
  font-size: 30px;
  padding-left: 15px;
  margin: 30px 0px 30px 0px;
}

.dicsoImagesDiv section figure{
  margin: 30px 0px 30px 0px;
}

.disco-img img{
  filter: blur(3px) grayscale(90%);
  border-radius: 15px 15px 0px 0px;
}

.disco-img img:hover{
  filter: none;
}

.figText {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px 0px 15px 15px;
}

 /* FOOTER ********** */
.footerlogo{
    max-width: 249px;
    max-height: 249px;
}

footer h3{
    padding-top: 26px;
}

#footer-wrapper {
    display: flex;
    justify-content: center;
}

#contact-info {
    display:block;
    text-align: left;
    margin-left: -20px;
}

/* EFFECTS ********** */
.socialIcons:hover{
  overflow:hidden;
  background-color: rgba(0, 194, 39, 0.3);
  border-radius: 30%;
  border: 3px solid var(--extralightgreen);
}

.social-box:hover{
  transform: scale(1.03);
  transition: ease .1s;
}


}
