:root {
    --lato:'Lato', sans-serif;
    --robo:'Roboto', sans-serif;
    --robo-slab:'Roboto Slab', sans-serif;

    --black: #061400;
    --darkgrey: #545454;
    --grey: #737373;
    --darkgreen: #396925;
    --green: #64b83f;
    --lightgreen: #7ed957;
    --extralightgreen: #9bff70;
    --background-cream:#cecece;
    --white-ish: #d9d9d9;
    --white: #e0f8f1;  
}

body {
   /* line-height: 1.2rem;
   margin: 0 auto; */
   background-color: var(--background-cream);
}

header {
   background-image: linear-gradient(to right, var(--black), var(--grey));
   display: flex;
   margin: auto;
   border-bottom: 4px solid var(--lightgreen);
}

header button{
   position: absolute;
   background-color: transparent;
   color: white;
   font-size: 1.5rem;
   border: none;
   /* padding: 5px 30px 30px 0px */
   margin: 5px 20px 20px 5px;
}

header h1{
   font-family: var(--robo);
   background-color: transparent;
   color: white;
   text-align: center;
   letter-spacing: 0.05em;
   font-size: 20px;
   margin-top: 25px;
   margin-bottom: 0%;
   /* margin-top: -1px; */
   /* border-bottom: var(--green);
   border-left: var(--black);
   border-right: var(--darkgrey);
   border-style: solid;
   border-width: thin; */
   /* margin: auto;
   padding: auto;
   height: 100%;
   width: 100%; */
}

header h2{
   font-family: var(--robo);
   background-color: transparent;
   color: white;
   text-align: center;
   letter-spacing: 0.05em;
   font-size: 12px;
   margin-top: 0%;
   margin-bottom: 10px;
}

header div p{
   color: var(--white);
   text-align: center;
   margin-top: 0%;
   font-size: 12px;
}


nav {
   background-color: var(--darkgrey);
}

nav button{
   margin: .2rem 2vw;
   background: var(--darkgrey);
   border: none;
   font-size: 2rem;
   color: var(--white);
   flex: 1 1;
}

nav ul {
   display: none;
   background-color: var(--darkgrey);
   list-style-type: none;
   padding: 0;
   margin: 0;
}

header button:hover {
      background-color: rgba(0,0,0,0.2);
      color: #fff;
}
/* nav ul li.active a{
   background-color: rgba(0,0,0,0.2);
   color: #fff;
}

nav ul li a:hover{
   background-color: rgba(0,0,0,0.3);
} */

/* nav ul{
   display: none;
} */

nav ul.open{
   display: block
}

.social-wrapper{
   display: block;
   align-self: center;

}

header img{
   max-width: 110px;
   max-height: 110px;
   /* width: auto;
   height: auto; */
}

header div img{
   max-width: 32px;
   max-height: 32px;
   /* width: auto;
   height: auto; */
}

header div img:nth-child(1){
   padding: 10px 2.5px 2.5px 2.5px;
}

header div img:nth-child(2){
   padding: 10px 5px 2.5px 2.5px;
}

header div img:nth-child(3){
   padding: 2.5px 2.5px 5px 2.5px;
}

header div img:nth-child(4){
   padding: 2.5px 5px 5px 2.5px;
}

#title-container{
   display: block;
   width: 100%;
}

/* header h1{
   padding: 15px 0px 0px -15px;
} */

/* header h2{
   padding: 15px;
} */


#hamburgerBtn span:nth-child(1){display: block;}

#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}

#hamburgerBtn.open span:nth-child(2){display: block;}

nav ul li a {
   display: block;
   text-align: center;
   color: white;
   font-size: 20px;
   font-family: var(--robo);
   text-decoration: none;
   padding: .8rem 2vw;
   border-bottom: var(--green);
   border-left: var(--darkgrey);
   border-right: var(--darkgrey);
   border-top: var(--darkgrey);
   border-style: solid;
   border-width: thin;
}

/* nav ul li a {
  border-top: 2px solid var(--green);
} */

nav ul li:nth-child(5){
   border-bottom: 3px solid var(--lightgreen);
 }

main {
   display: block;
   text-align: center;
   background-color: var(--background-cream);
   margin: 5px;
}

/* Check this */
a:hover {
   color: var(--white-ish);
   background-color: var(--black);
}

#call-to-action {
   border: thin solid var(--darkgrey);
   background-color: var(--white);
   margin-top: 0px;
   /* max-height: max-content; */
   height: 200px;
}

#event1 {
   border: thin solid var(--darkgrey); 
   background-color: var(--white);
   margin-top: 5px;
   height: 200px;
}

#weather {
   border: thin solid var(--darkgrey); 
   background-color: var(--white);
   margin-top: 5px;
   height: 200px;
}

#news {
   border: thin solid var(--darkgrey); 
   background-color: var(--white);
   margin-top: 5px;
   margin-bottom: 5px;
   height: 200px;
}

#spotlight-section {
   border: thin solid var(--darkgrey); 
   background-color: var(--extralightgreen);
   padding: 5px 5px 5px 5px;
}

#spotlight1 {
   border: thin solid var(--darkgrey);
   background-color: var(--white);
   margin-top: 0px;
   height: 200px;
}

#spotlight2 {
   border: thin solid var(--darkgrey); 
   background-color: var(--white);
   margin-top: 5px;
   height: 200px;
}

#join {
   border: thin solid var(--darkgrey); 
   background-color: var(--white);
   margin-top: 5px;
   height: 200px;
}


/* nav ul li a:hover{
   background-color: rgba(0,0,0,0.3);
} */

footer {
   font-family: var(--robo);
   background-color: var(--black);
   color: var(--white-ish);
   text-align: center;
   padding: 20px 0px 10px 0px;
}

footer div div a {
   color: rgb(255, 200, 200);
}

footer div div a:hover {
   background-color: rgba(0,0,0,0.3);
}

footer div div a:visited{
   color: rgb(225, 150, 255);
}

/* hr {
   color: var(--darkgrey)
} */

iframe {
   max-width: 200px;
   max-height: 200px;
}
/* #footer-wrapper {
   display: flex;
   justify-content: center;
} */

/* #contact-info {
   display:block;
} */

footer img{
   max-width: 100px;
   max-height: 100px;
}

.main-top-margin{
   padding-top: 40px;
}

#page-container {
   position: relative;
   min-height: 100vh;
 }
 
#content-wrap {
   padding-bottom: 0px;   
 }
 
