/* :root {
    --myfont:Verdana, Arial, Tahoma;
} */


body {
    font-family: var(--myfont);
    max-width: 520px;
    margin: 1.25rem auto;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:lightgrey;
    border-radius: 15px;
    padding: 20px;
    
 }

 header img {
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 20px;
 }

 h1 {
    padding-left: 20px;
 }

 footer {
    text-align: center;
    background-color:lightgrey;
    border-radius: 15px;
    padding: 3px;
 }